<h4>Edit Report Set <%= @report_set.name %></h4>

<% form_for :report_set, :url => { :controller => 'report_set', :action => :update } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
  </p>
  <%= submit_tag 'Update Report Set' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>