= render 'shared_tabs'
.row-fluid
  .span12
    = form_for :report_set, :url => { :controller => 'report_set', :action => :update } do |f|
      = f.error_messages
      .control-group
        = f.label :name, :class => 'control-label'
        .controls
          = f.text_field :name
      .control-group
        = f.label :url_callback, 'Callback', :class => 'control-label'
        .controls
          = f.text_field :url_callback, :size => 75
      %hr
      .bottom-actions
        = submit_tag 'Update Report Set', :class => 'btn btn-primary'
        = link_to 'Cancel', {:action => :view}, :class => 'btn btn-link'
