<h4>Create new Report Set</h4>

<% form_for :report_set, :url => { :controller => 'report_set', :action => :create} do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
  </p>
  <%= submit_tag 'Create Report Set' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>