<h4>Report Set <%= @report_set.name %></h4>

<% form_for :report, :url => { :controller => 'report', :action => :create, :report_set_id => @report_set.id} do |f| %>
  <%= f.text_field :original, :size => 80 %>
  <%= submit_tag 'Send new report' %>
<% end %>

<% if @reports.length > 0 %>
<table class="reports">
  <tr>
    <th>Received</th>
    <th>Understood</th>
    <th></th>
  </tr>
  <% @reports.each do |r| %>
    <tr id="report-<%= r.id %>">
      <td class="original">
        <%= r.original %>
      </td>
      <td class="understood">
        <span><%= r.parsed %></span>
        <% if r.corrected %>
          <img src="/images/corrected.png" width="16" height="16" alt="corrected" title="This report was corrected"/>
        <% end %>
      </td>
      <td>
        <%= js "correct", "correct_report(" + r.id.to_s + ")" %>
        <%= link_to "reset", :controller => 'report', :action => :reset, :id => r.id %>
        <%= link_to "delete", :controller => 'report', :action => :delete, :id => r.id %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>