<h4>Report Set: <%= @report_set.name %></h4>

<div><b>Submit URL:</b> <%= url_for :only_path => false, :controller => 'report_set', :action => 'incoming', :key => @report_set.submit_url_key %></b></div>
<br/>

<div><%= link_to "Download as CSV", :controller => :report_set, :action => :download_as_csv, :id => @report_set.id %></div>
<br/>

<% form_for :report, :url => { :controller => 'report', :action => :create, :report_set_id => @report_set.id} do |f| %>
  <%= f.text_field :original, :size => 80 %>
  <%= submit_tag 'Send new report' %>
<% end %>

<% if @reports.length > 0 %>
<table class="reports">
  <tr>
    <th>Received</th>
    <th>Understood</th>
	<th>Created</th>
    <th></th>
  </tr>
  <% @reports.each do |report| %>
    <tr class="report" valign="baseline">
      <td><%= report.original %></td>
      <td class="understood">
        <% report.parsed.each_with_index do |parse, idx| %>
          <div class="piece" style="line-height:24px"><span class="content"><%= parse %></span> <a href="#" onclick="javascript:correct_report(this, <%= report.id %>, <%= idx %>)">fix</a></div>
        <% end %>
      </td>
      <td>
	    <%= report.created_at %>
	  </td>
      <td>
        <%= link_to "reset", :controller => 'report', :action => :reset, :id => report.id if report.corrected %>
        <%= link_to "delete", :controller => 'report', :action => :delete, :id => report.id %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>
