.row-fluid
  .span12
    %h3 Settings

.row-fluid
  .span12
    = form_for :account, :url => { :controller => 'home', :action => :update_account} do |f|
      = f.error_messages
      %p.desc Leave blank if you don't want to change the password
      .control-group
        = f.label :password, :class =>'control-label'
        .controls
          = f.password_field :password, :autocomplete => :off
      .control-group
        = f.label :password_confirmation, :class =>'control-label'
        .controls
          = f.password_field :password_confirmation, :autocomplete => :off
      %hr
      .bottom-actions
        = submit_tag 'Update', :class => 'btn btn-primary'
        = link_to 'Cancel', {:controller => :home, :action => :home}, :class => 'btn btn-link'
