<% if !flash[:notice].nil? %>
<div style="border:1px solid black; background:#FFF1A8; padding:4px; font-weight:bold"><%= flash[:notice] %></div>
<% end %>

<h4><%= js 'Settings', "toggle('settings')" %></h4>

<div id="settings">
<ul>
  <li><%= link_to "Edit settings / Change password", :controller => :home, :action => :edit_account%></li>
</ul>
</div>

<h4><%= js 'Report Sets', "toggle('report_sets')" %></h4>

<div id="report_sets">
<table>
  <% @report_sets.each do |rs| %>
    <tr>
      <td><b><%= rs.name %></b></td>
      <td><%= link_to "view reports", :controller => :report_set, :action => :view, :id => rs.id %></td>
      <td><%= link_to "download CSV", :controller => :report_set, :action => :download_as_csv, :id => rs.id %></td>
      <td><%= link_to "edit", :controller => :report_set, :action => :edit, :id => rs.id %></td>
      <td><%= js 'delete', "delete_report_set(#{rs.id}, '#{h rs.name}')" %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to "Create new Report Set", :controller => :report_set, :action => :new%>
</div>