.row-fluid
  .span12
    .create-account.pull-right{class: @use_new_account ? 'disabled' : nil}
      Dont you have an account yet?
      %a.btn.btn-warning
        Create account
.row-fluid
  .span12.login-logo
    = image_tag "instedd-bootstrap/header/logos/seentags.png"
.row-fluid.login-signup{class: @use_new_account ? 'switch' : nil}
  .box-container
    .login-box
      %h3 Login

      = form_for :account, :url => { :controller => 'home', :action => :login } do |f|
        .control-group
          = f.label :name, :class => 'control-label'
          .controls
            = f.text_field :name, :class => 'span12'
        .control-group
          = f.label :password, :class => 'control-label'
          .controls
            = f.password_field :password, :class => 'span12'
        / .control-group{:style => "color:red"}= flash[:notice]
        %hr
        .control-group
          = submit_tag 'Log in', :class => 'btn'

    .login-box
      %h3 Sign up

      = form_for :new_account, :url => { :controller => 'home', :action => :create_account } do |f|
        .control-group
          = f.label :name
          .controls
            = f.text_field :name, :autocomplete => :off, :class => 'span12'
        .control-group
          = f.label :password
          .controls
            = f.password_field :password, :autocomplete => :off, :class => 'span12'
        .control-group
          = f.label :password_confirmation
          .controls
            = f.password_field :password_confirmation, :autocomplete => :off, :class => 'span12'
        %hr
        .control-group
          = submit_tag 'Sign up', :class => 'btn'
        .control-group
          Already have an account?
          %a.login Log in
