<html>
<head>
  <title>seentags</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head%>
</head>
<body>
<% if @hide_title.nil? %>
  <% if !@account.nil? && !@account.id.nil? %>
    <h2 style="float:left">seentags</h2>
    <h3 style="text-align:right"><%= @account.name %> | <%= link_to "logoff", :controller => :home, :action => :logoff %></h3>
  <% else %>
    <h2>seentags</h2>
  <% end %>
<% end %>
<%= yield %>
</body>
</html>
