<html>
<head>
  <title>seentags</title>
  <link rel="stylesheet" href="/stylesheets/scaffold.css" type="text/css"/>
  <%= javascript_include_tag 'jquery-1.3.2' %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head%>
</head>
<body>
<% if @hide_title.nil? %>
  <% if !@account.nil? && !@account.id.nil? %>
    <h2 style="float:left">seentags</h2>
    <h3 style="text-align:right"><%= @account.name %> | <%= link_to "logoff", :controller => :home, :action => :logoff %></h3>
  <% else %>
    <h2>seentags</h2>
  <% end %>
<% end %>
<%= yield %>
</body>
</html>
